#become-one-of-us {
  width: 100%;
  background: $background-image-color url('./images/become-a-scorpio.jpg') no-repeat center;
  background-size: cover;
  .wrapper {
    @include wrapper($wrapper-width);
    .become-one-of-us-heading {
      @include H3(center, $primary-color);
    }
    .become-one-of-us-subheading {
      display: flex;
      justify-content: center;
      @include H4(center, $primary-color);
      padding-top: 30px;
    }
    .become-one-of-us-button {
      @include scorpio-button($black, $accent-color);
    }
    .filler {
      padding-bottom: 60px;
    }
  }
}