#become-one-of-us {
  width: 100%;
  background: $background-image-color url('./images/become-a-scorpio.jpg') no-repeat center;
  background-size: cover;
  .wrapper {
    @include wrapper($wrapper-width);
    .become-one-of-us-heading {
      @include H3(center, $primary-color);
    }
    .become-one-of-us-subheading {
      display: flex;
      justify-content: center;
      @include H4(center, $primary-color);
      padding-top: 30px;
    }
    .become-one-of-us-button {
      @include scorpio-button($black, $accent-color);
    }
    .filler {
      padding-bottom: 60px;
    }
  }
}

// Styles for tablet devices min width 768px max width 1023px

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  #become-one-of-us {
    .wrapper {
      .become-one-of-us-heading {
        @include H3-tablet(center, $primary-color);
      }
      .become-one-of-us-subheading {
        @include H4-tablet(center, $primary-color);
      }
      .become-one-of-us-button {

      }
      .filler {
        padding-bottom: 40px;
      }
    }
  }
}

// Styles for mobile devices min width 320px max width 767px

@media only screen and (max-width: 767px) and (min-width: 320px) {
  #become-one-of-us {
    .wrapper {
      .become-one-of-us-heading {
        @include H3-mobile(center, $primary-color);
      }
      .become-one-of-us-subheading {
        @include H4-mobile(center, $primary-color);
      }
      .become-one-of-us-button {

      }
      .filler {
        padding-bottom: 30px;
      }
    }
  }
}