#dashboard {
  .dashboard-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 100%;
    .dashboard-main-content{
      flex-flow: 1 1 70%;
    }
    .dashboard-side-feed {
      flex-flow: 0 1 70%;
    }
  }
}