#dashboard {
  .dashboard-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 100%;
    height: calc(100vh - 64px);
    .dashboard-main-content{
      flex: 0 1 80%;
    }
    .dashboard-side-feed {
      flex: 0 1 20%;
    }
  }
}