#gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  .from-our-scorpios-gallery {
    display: flex;
    flex: 0 1 30%;
    border-radius: 7px;
    border: 3px solid $white;
    cursor: pointer;
    .from-our-scorpios-gallery-item {
      flex: 0 1 30%;
      border-radius: 7px;
    }
  }
  .some-notable-scorpios-gallery {
    width: 350px;
    height: 350px;
    display: inline-block;
    border: 3px solid $white;
    margin: 10px;
    border-radius: 7px;
    cursor: pointer;
    .some-notable-scorpios-gallery-item {
      width: 350px;
      height: 350px;
      border-radius: 7px;
    }
  }
}