#promo {
  width: 100%;
  height: 500px;
  .wrapper {
    @include wrapper($wrapper-width);
    .promo-heading {
      @include H3(center, $primary-color);
    }
    .promo-content-container {
      width: 100%;
      height: 300px;
      margin-top: 60px;
      .promo-image-container-left {
        width: 50%;
        height: 300px;
        float: left;
        .promo-image-left {
          width: 500px;
          margin: 0px auto;
        }
      }
      .promo-image-container-right {
        width: 50%;
        height: 300px;
        float: right;
        .promo-image-right {
          width: 500px;
          margin: 0px auto;
        }
      }
      .promo-text-container {
        width: 50%;
        height: 300px;
        float: left;
        .promo-text {
          @include H4(left, $black);
          padding: 110px 150px;
        }
      }
    }
  }
}