#promo {
  width: 100%;
  .wrapper {
    @include wrapper($wrapper-width);
    .promo-heading {
      @include H3(center, $white);
    }
    .promo-content-container {
      width: 100%;
      margin-top: 60px;
      .promo-image-container-left {
        width: 48%;
        padding-right: 2%;
        float: left;
        .promo-image-left {
          width: 100%;
          margin: 0px auto;
        }
      }
      .promo-image-container-right {
        width: 48%;
        padding-left: 2%;
        float: right;
        .promo-image-right {
          width: 100%;
          margin: 0px auto;
        }
      }
      .promo-text-container {
        width: 50%;
        float: left;
        .promo-text {
          @include H4(left, $white);
        }
      }
    }
  }
}

// Styles for tablet devices min width 768px max width 1023px

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  #promo {
    .wrapper {
      .promo-heading {
        @include H3-tablet(center, $white);
      }
      .promo-content-container {
        margin-top: 40px;
        padding-bottom: 40px;
        .promo-image-container-left {
          .promo-image-left {
            width: 100%;
          }
        }
        .promo-image-container-right {
          .promo-image-right {
            width: 100%
          }
        }
        .promo-text-container {
          .promo-text {
            @include H4-tablet(left, $white);
          }
        }
      }
    }
  }
}

// Styles for mobile devices min width 320px max width 767px

@media only screen and (max-width: 767px) and (min-width: 320px) {
  #promo {
    .wrapper {
      .promo-heading {
        @include H3-mobile(center, $white);
      }
      .promo-content-container {
        margin-top: 30px;
        padding-bottom: 30px;
        .promo-image-container-left {
          .promo-image-left {
            width: 100%;
          }
        }
        .promo-image-container-right {
          .promo-image-right {
            width: 100%
          }
        }
        .promo-text-container {
          .promo-text {
            @include H4-mobile(left, $white);
          }
        }
      }
    }
  }
}