.signin-modal {
  background-color: $accent-color;
  border-radius: 7px;
  width: 800px;
  height: 600px;
  padding: 75px;
  .signin-modal-body {
    background-color: $primary-color;
    border-radius: 7px;
    width: 650px;
    height: 450px;
    position: relative;
    .signin-modal-left-background {
      position: relative;
    }
    .signin-modal-left-character {
      position: absolute;
      left: -70px;
      top: 56.5px;
      bottom: 56.6px;
    }
    .signin-modal-right-heading {
      position: absolute;
      top: 100px;
      right: 50px;
      font-family: $font-family;
      color: $white;
      font-size: 20px;
    }
    .signin-modal-right-login {
      position: absolute;
      right: 42px;
      top: 165px;
      bottom: 165px;
      width: 250px;
      height: 120px;
      background-color: $white;
      border-radius: 7px;
      box-shadow: $accent-color 4px 7px 19px;
      .facebook-login-button {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 20px;
        cursor: pointer;
      }
      .google-login-button {
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 20px;
        cursor: pointer;
      }
    }
  }
}