#some-notable-scorpios {
  width: 100%;
  background: $background-image-color url('./images/some-notable-scorpios.jpg') no-repeat center;
  background-size: cover;
  .wrapper {
    @include wrapper($wrapper-width);
    .some-notable-scorpios-heading {
      @include H3(center, $white);
    }
    .some-notable-scorpios-subheading {
      display: flex;
      justify-content: center;
      @include H4(center, $white);
    }
    .some-notable-scorpios-collection-container {
      padding-top: 30px;
      width: 80%;
      margin: 0px auto;
      .some-notable-scorpios-button {
        @include scorpio-button($black, $accent-color);
      }
      .filler {
        padding-bottom: 60px;
      }
    }
  }
}