#some-notable-scorpios {
  width: 100%;
  background: $background-image-color url('./images/some-notable-scorpios.jpg') no-repeat center;
  background-size: cover;
  .wrapper {
    @include wrapper($wrapper-width);
    .some-notable-scorpios-heading {
      @include H3(center, $white);
    }
    .some-notable-scorpios-subheading {
      display: flex;
      justify-content: center;
      @include H4(center, $white);
    }
    .some-notable-scorpios-collection-container {
      padding-top: 30px;
      width: 80%;
      margin: 0px auto;
      .some-notable-scorpios-button {
        @include scorpio-button($black, $accent-color);
      }
      .filler {
        padding-bottom: 60px;
      }
    }
  }
}

// Styles for tablet devices min width 768px max width 1023px

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  #some-notable-scorpios {
    .wrapper {
      .some-notable-scorpios-heading {
        @include H3-tablet(center, $white);
      }
      .some-notable-scorpios-subheading {
        @include H4-tablet(center, $white);
      }
      .some-notable-scorpios-collection-container {
        .some-notable-scorpios-button {

        }
        .filler {
          padding-bottom: 40px;
        }
      }
    }
  }
}

// Styles for mobile devices min width 320px max width 767px

@media only screen and (max-width: 767px) and (min-width: 320px) {
  #some-notable-scorpios {
    .wrapper {
      .some-notable-scorpios-heading {
        @include H3-mobile(center, $white);
      }
      .some-notable-scorpios-subheading {
        @include H4-mobile(center, $white);
      }
      .some-notable-scorpios-collection-container {
        .some-notable-scorpios-button {

        }
        .filler {
          padding-bottom: 30px;
        }
      }
    }
  }
}